/* ===== GLOBAL ===== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0d0d0d;
color:white;
overflow-x:hidden;
}

/* ===== VIDEO BG ===== */

#bg-video{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-2;
}

.overlay{
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.65);
z-index:-1;
}

/* ===== HEADER ===== */

header{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:rgba(0,0,0,0.35);
backdrop-filter:blur(15px);
border-bottom:1px solid rgba(255,255,255,0.1);
z-index:1000;
}

header h1{
color:#ff0033;
letter-spacing:3px;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:500;
transition:0.3s;
}

nav a:hover{
color:#ff0033;
}

/* ===== LOBBY BUTTON ===== */

.back-btn{
position:fixed;
top:90px;
left:20px;
background:#ff0033;
padding:10px 18px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:bold;
z-index:999;
transition:0.3s;
}

.back-btn:hover{
transform:scale(1.1);
box-shadow:0 0 20px #ff0033;
}

/* ===== SECTION ===== */

.section{
padding:120px 20px;
max-width:1100px;
margin:auto;
text-align:center;
}

.section h2{
color:#ff0033;
margin-bottom:20px;
}

/* ===== CARD ===== */

.card{
background:#111;
border-radius:15px;
padding:20px;
transition:0.4s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 25px rgba(255,0,51,0.4);
}

/* ===== BUTTON ===== */

.btn{
display:inline-block;
padding:14px 28px;
background:#ff0033;
color:white;
text-decoration:none;
border-radius:8px;
transition:0.3s;
}

.btn:hover{
transform:scale(1.08);
box-shadow:0 0 25px #ff0033;
}

/* ===== FOOTER ===== */

footer{
text-align:center;
padding:40px;
background:#0a0a0a;
opacity:0.6;
margin-top:60px;
}
/* ===== MERCH ===== */

.merch {
    padding: 80px 40px;
    text-align: center;
}

.merch h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 40px;
}

.product {
    background: #111;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 0 0 15px rgba(255,0,0,0.2);
}

.product:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 30px red;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product h3 {
    margin: 15px 0;
}

.price {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.product button {
    background: red;
    border: none;
    padding: 12px 25px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.product button:hover {
    background: black;
    border: 1px solid red;
}